*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container{
    background-color: #fff;
    width: 600px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.texts{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.divisao-iput{
    display: flex;
    gap: 20px;
}

.input-sorteio button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.input-sorteio button:hover{
    background-color: #036fe3;
    transform: scale(1.05);
    transition: 200ms;
}

 .banner {
    position: fixed; /* Fica sobre toda a tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: #333;
    color: white;
    width: 350px;
    height: 220px;
    border-radius: 8px;

    display: none; /* Começa escondido */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttonbanner{
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

  /* Spinner */
  .spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #ccc;
    border-top: 3px solid #00ff88;
    border-radius: 50%;
    animation: girar 1s linear infinite;
  }

  span.mensagem {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  @keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }